@media screen and (max-width: 450px){
    .navbar-nav {
        float: left;
        margin: 0px;
    }
    #myCarousel .carousel-caption h2, #myCarousel .carousel-caption h1{
        font-size: 15px;
    } 
    .wrap ul.wrap-nav>li:nth-child(3){
        margin-left: 0px !important;
    }
    .wrap ul.wrap-nav>li:nth-child(4), .wrap ul.wrap-nav>li:nth-child(5){
        padding-left: 0px !important;
    }
    .main-part .top-menu{
        display: none;
    }
    #myCarousel .carousel-caption {
        top: 5%;
    }
    #section1, #section1 .fp-tableCell {
        height: 215px !important;
        margin-top: 70px !important;
    }
    .main-footer .fp-tableCell {
        height: 200px !important;
    }
    .main-footer.fp-auto-height {
        height: 200px !important;
        background-color: #fff;
    }
    .navbar-nav .dropdown{
        display: none;
    }
    .nav-tabs>li {
        float: none;
    }
    .about-content-sect-2 .count-1 .circle-1:after, .about-content-sect-2 .count-2 .circle-1:after {
        right: -50px !important;
        width: 70px !important;
    }
    .about-content-sect-2 .count-2 .col-lg-3:nth-child(3) .circle-1::after, .about-content-sect-2 .count-1 .col-lg-3:nth-child(3) .circle-1::after {
        top: 80px !important;
        transform: rotate(90deg) !important;
        left: 51px !important;
    }
    .about-content-sect-2 .count-1 .circle-1:after, .about-content-sect-2 .count-2 .circle-1:after {
        right: -50px !important;
        width: 70px !important;
        transform: rotate(90deg) !important;
        top: 80px !important;
    }
    .about-content-sect-2 .circle-1 {
        padding: 35px 15px !important;
        border-radius: 100% !important;
        height: auto !important;
        width: 65% !important;
        float: left !important;
        margin: 20px 55px !important;
    }
    .vm-part .col-lg-6 {
        padding: 20px;
        height: 630px;
    }
    .navbar-header, #mainmenu{
        display: inline-block;
        margin-left: 30px;
    }
    .products .col-lg-4:nth-child(2), .products .col-lg-4:nth-child(1) {
        border-right: 0px solid #ffffff59;
    }
    #myCarousel {
        height: 235px;
        overflow: hidden;
    }
    .wrap ul.wrap-nav li {
        width: 100% !important;
    }
    .wrap ul.wrap-nav {
        padding: 30px 0px 35px !important;
    }
    .overlay {
        top: 70px !important;
    }
    /* .main-footer.fp-auto-height {
        height: 590px !important;
        background-color: #fff;
    } */
    .products {
        height: 100%;
        padding: 35px 0px;
    }
    .part-1, .part-2 {
        top: 5%;
        padding: 15px;
    }
    .products p {
        padding: 10px 10px 10px;
        font-size: 13px;
        line-height: 25px;
    }
    .part-1 img, .part-2 img {
        width: 55px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .part-1 h3, .part-2 h3 {
        font-size: 25px;
    }
    .products .col-lg-6:first-child {
        border-bottom: 1px solid #ffffff59;
        border-right: 0px solid #ffffff59;
    } 
    .our-sample h3 {
        color: #000;
        font-size: 25px;
        text-align: center;
        margin-bottom: 15px;
    }
    .our-sample .highlight_link li>a {
        height: auto;
        padding: 15px 15px 15px;
    }
    .our-sample .highlight_link li {
        margin: 10px 0px;
    }
    .about-side-menu{
        display: none;
    }
    .oh-section {
        padding: 75px 0px;
    }
    .vm-section {
        padding: 35px 0px;
    }
    .vm-part {
        padding: 20px 20px
    }
    .main-part, .about-video .container-fluid{
        margin: 0px;
    }
    .oh-section-1 .bg-image-section{
        padding: 30px 30px;
        height: auto;
    }
    .main-product {
        margin: 75px 0px;
    }
    .product-list {
        height: 315px;
    }
    .header-section{
        text-align: center;
    }
    .header-section p{
        float: none;
    }
    .vm-part {
        border-bottom: 2px Solid #f1f1f12e;
        border-right: 0px Solid #f1f1f12e;
    }
    .img-part, .content-part {
        width: 100%;
    }
    .content-part {
        padding-left: 0px;
    }
    .content-part h3 {
        font-size: 25px;
    }
    .timeline .event:before {
        left: -155.5px;
    }
    .timeline .event:after {
        left: -26.85px;
    }
    .timeline{
        width: 78%;
        padding: 20px;
        margin: 50px 25px 50px 59px;
    }
    #content .main-cont {
        margin: 35px 0px 75px 0px;
    }
    .test-det h2 {
        font-size: 30px;
    }
    .location-item {
        height: auto;
    }
    .address .col-lg-12:nth-child(2) span {
        width: 90%;
    }
    .cont-address .address-sect{
        border-right: 0px solid #444;
        border-bottom: 2px solid #444;
    }
    .our-sample .highlight_link li {
        width: 100%;
    }

}
@media screen and (max-width: 768px){
    .main-footer .sitemap {
        display: none;
    }
    .our-sample .highlight_link li {
        width: 100%;
        margin: 30px 0px;
    } 
    .main-part .top-menu{
        display: none;
    }
    .about-content-sect-2 .circle-1 {
        padding: 35px 15px;
        border-radius: 100%;
        height: 210px;
        width: 30%;
        float: left;
        margin: 25px 50px;
    }
    .about-content-sect-2 .count-1 .circle-1:after,
    .about-content-sect-2 .count-2 .circle-1:after {
        right: -165px;
        width: 125px;
    }
    .about-content-sect-2 .count-2 .col-lg-3:nth-child(3) .circle-1::after,
    .about-content-sect-2 .count-1 .col-lg-3:nth-child(3) .circle-1::after {
        top: 100px;
        transform: rotate(90deg);
        left: 20px;
    }
    /* .about-content-sect-2 .count-2 .col-lg-3:nth-child(3) .circle-1::after,
    .about-content-sect-2 .count-1 .col-lg-3:nth-child(3) .circle-1::after {
        content: none;
    } */
}



@media screen and (min-width: 768px){
    .carousel-caption {
        top: 30%
    }
    .carousel-caption h2, .carousel-caption h1 {
        margin-bottom: 20px;
        text-shadow: 1px 1px 3px #000000b0;
    }
    .carousel-caption p {
        line-height: 2;
        font-weight: 500;
        font-size: 19px;
    }
    .carousel-inner>.item>a>img, .carousel-inner>.item>img {
        line-height: 1;
    }
    .carousel-captio .fp-tableCell{
        vertical-align: baseline;
    }
    .product-content>.carousel-product>.carousel-inner>.item>a>img, 
    .product-content>.carousel-product>.carousel-inner>.item>img {
        height: 100% !important ;
    }
    .main-footer .footer {
        display: block;
        text-align: center;
    }  
    .main-footer .footer a, .main-footer .footer strong, .main-footer .allindia  {
        float: none;
    }
    .highlight_link li>a {
        height: 250px;
        padding: 100px 15px 0;
    }   
    .our-sample {
        padding: 75px 0px;
    }
    
}

@media screen and (max-width: 1024px){
    .main-part .min-hide {
        padding: 0px 75px !important;
    }
    .main-part .min-show {
        left: 42%;
    }
    .about-content-sect-2 .circle-1 {
        padding: 35px 15px;
        border-radius: 100%;
        height: 200px;
        width: 20%;
        float: left;
        margin: 20px 20px;
    }
    .about-content-sect-2 .count-1 .circle-1:after, .about-content-sect-2 .count-2 .circle-1:after {
        right: -150px;
        width: 55px;
    }
    .about-content-sect-2 .count-2 .col-lg-3:nth-child(3) .circle-1::after {
        top: -85px;
    }
    .about-content-sect-2 .count-2 .circle-1:after {
        top: -82px;
    }
    .value-main-part .vm-part .row .col-lg-4:nth-child(4) .value-part,
    .value-main-part .vm-part .row .col-lg-4:nth-child(5) .value-part,
    .value-main-part .vm-part .row .col-lg-4:nth-child(6) .value-part{
        height: auto;
    }
}

@media screen and (max-width: 1440px){
    .main-part .min-hide {
        padding: 0px 265px;
    }
}


@media screen and (max-width: 768px){
    .about-content-sect-2 .circle-1 {
        padding: 0px 0px;
        border-radius: 100%;
        height: 150px;
        width: 20%;
        float: left;
        margin: 19px 15px;
    }
    .about-content-sect-2 .count-1 .circle-1:after, .about-content-sect-2 .count-2 .circle-1:after {
        right: -115px;
        width: 55px;
    }
    .about-content-sect-2 .count-2 .col-lg-3:nth-child(3) .circle-1::after, .about-content-sect-2 .count-1 .col-lg-3:nth-child(3) .circle-1::after {
        top: -55px;
        transform: rotate(0deg);
        left: 120px;
    }
    .about-content-sect-2 p:first-child {
        font-size: 30px;
    }
    .about-content-sect-2 .count-2 .circle-1:after {
        top: -60px;
    }
    .about-content-sect-2 .col-lg-3:nth-child(2) .circle-1::after {
        top: -45px;
    }
}

