/*font family css*/

/* main color used */
/* #05386b */
/* #2196F3 */
body {
    font-family: 'Ubuntu', sans-serif ;
}
.fp-enabled{
    height: auto !important;
}
a:focus, a:hover {
   text-decoration: none;
}
img {
    border: 0;
}
/*basic css*/
ul{
  list-style-type: none;
  text-align: left; 
  padding-left: 0px;
}

/*navbar menu css*/
.navbar-brand>img {
    width: 75%;
}
.navbar-brand {
    float: left;
    height: 75px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
.navbar{
      min-height: 75px;
}
.navbar-nav {
    float: left;
    margin: 13px 0px 0px 0px;
}
.navbar-inverse {
    background-color: #fff;
    border-bottom: 2px solid #0f297d;
    box-shadow: 0px 4px 4px 4px #22222214;
}
/* .navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:focus, 
.navbar-inverse .navbar-nav>.active>a:hover, */
.navbar-inverse .navbar-nav>.open>a, 
.navbar-inverse .navbar-nav>.open>a:focus, 
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>li>a:focus, 
.navbar-inverse .navbar-nav>li>a:hover,
.button a.btn-close{ 
    color: #ffffff !important;
    background-color: #0f297d !important;
    font-weight: 700;
}
.navbar-inverse .navbar-nav>li>a {
    color: #212c33;
    font-weight: 700;
    padding-top: 28px;
    padding-bottom: 28px;
}
.navbar-nav {
    float: right;
    margin: 0px;
    margin-right: -30px;
}
/*slider*/
.carousel-control {
    width: 10%;
  }
.carousel-indicators li {
    display: inline-block;
    width: 20px;
    height: 5px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000;
    background-color: rgba(0,0,0,0);
    border: 1px solid #fff;
    border-radius: 0px;
}
.carousel-indicators {
    bottom: 5%;
}
.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right, 
.carousel-control .icon-next, 
.carousel-control .icon-prev {
  font-size: 20px;
}
.carousel-indicators .active {
    width: 20px;
    height: 5px;
    margin: 1px;
    background-color: #05386b;
    border: 1px solid #05386b;
}
.carousel-caption {
    top: 40%;
}
.carousel-caption h2, .carousel-caption h1 {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 70px;
    font-family: 'Ubuntu', sans-serif !important;
    line-height: 1.5;
    text-shadow: 1px 1px 3px #000000b0;
}

.navbar-nav>li>.dropdown-menu {
    margin-top: 0px;
    transition: 0.3s;
}
.dropdown-menu>li>a {
    padding: 5px 20px;
    
}
.dropdown-menu {
    border: 0px solid rgba(0,0,0,.15);
    border-radius: 0px;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.26);
    transition: all 0.3s ease;
    z-index: 100;
}

li.dropdown:hover  .dropdown-menu{
    display: block;
}

/* overlay menu */

/*styling open close button*/
.button {
    display: inline;
    position: absolute;
    right: 15px;
    top: 0px;
    z-index: 999;
    font-size: 19px;
    margin-left: 15px;
}
.button a {
	text-decoration:none;
}

/*overlay*/
.overlay {
    display: none;
    position: fixed;
    top: 75px;
    height: 100%;
    width: 100%;
    /* background: url(../image/menu-bg-new.jpg) center no-repeat; */
    background: url(../image/timeline-bg-2.jpg) center no-repeat;
    overflow: auto;
    z-index: 99;
    margin-left: -15px;
}
.wrap {
	color:#e9e9e9;
	text-align:center;
	max-width:90%;
	margin:0 auto;
}
.wrap ul.wrap-nav {
	text-transform:capitalize;
    padding: 100px 0px 35px;
}
.wrap ul.wrap-nav li {
    font-size: 25px;
	display:inline-block;
	vertical-align:top;
    /* width: 25%; */
    padding-left: 15px;
	position:relative;
}
/* .wrap ul.wrap-nav>li:nth-child(3) {
    margin-left: -15px !important
    width: 25%;
} */
/* .wrap ul.wrap-nav>li:nth-child(4), .wrap ul.wrap-nav>li:nth-child(5){
    padding-left: 30px;
} */
#myCarousel{
    height: 800px;
    overflow: hidden;
}
.wrap ul.wrap-nav li span {
	color: #ffffff;
    display: inline-block;
    padding: 5px 0;
	text-decoration:none;
	transition-property:all .2s linear 0s;
	-moz-transition:all .2s linear 0s;
	-webkit-transition:all .2s linear 0s;
    -o-transition:all .2s linear 0s;
    border-bottom: 1px solid #efefef;
    font-weight: 700;
}
.wrap ul.wrap-nav li a:hover {
	color:#f0f0f0;
}
.wrap ul.wrap-nav ul li:after {
    content: '-';
    position: absolute;
    left: 0;
    top: 5px;
}
.wrap ul.wrap-nav ul {
	padding: 7px 0;
}
.wrap ul.wrap-nav ul li {
	display: block;
    font-size: 19px;
	width: 100%;
	color:#e9e9e9;
}
.wrap ul.wrap-nav ul li a {
    color: #f0f0f0;
    display: block;
    padding: 5px 10px;
    text-decoration: none;
}
.wrap ul.wrap-nav ul li a:hover {
    color: #2196F3;
    margin-left: 15px;
    -webkit-transition: all ease-in .3s;
    transition: all ease-in .1s;
}
.wrap ul.wrap-nav ul li:hover:after  {
    color: #2196F3;
}

.dropdown>a:hover>.caret, 
.dropdown>a:focus>.caret,
.dropdown>a:active>.caret {
    transform: rotate(-90deg);
}
/* menuicon */
.menuicon{
    width: 20px;
    height: 15px;
    margin: 3px 15px 3px 0px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    float: left;
}
.menuicon span{
    background-color: #0a0a0a;
    position: absolute;
    border-radius: 0px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    width: 100%;
    height: 2px;
    transition-duration: 500ms;
}
.menuicon span:nth-child(1){
    top:0px;
    left: 0px;
}
.menuicon span:nth-child(2){
    top: 6px;
    left: 0px;
}
.menuicon span:nth-child(3){
    bottom:0px;
    left: 0px;
}
.button a:hover .menuicon:not(.menuicon) span:nth-child(1), .button a.btn-close .menuicon:not(.menuicon) span:nth-child(1){
    transform: rotate(-3deg) scaleY(1.1);
}
.button a:hover .menuicon:not(.menuicon):hover span:nth-child(2), .button a.btn-close .menuicon:not(.menuicon) span:nth-child(2){
    transform: rotate(3deg) scaleY(1.1);
}
.button a:hover .menuicon:not(.menuicon):hover span:nth-child(3), .button a.btn-close .menuicon:not(.menuicon) span:nth-child(3){
    transform: rotate(-4deg) scaleY(1.1);
}
.button a:hover .menuicon span:nth-child(1), .button a.btn-close .menuicon span:nth-child(1){
    transform: rotate(45deg);
    background-color: #ffffff;
    top: 6px;
  
}
.button a:hover .menuicon  span:nth-child(2), .button a.btn-close .menuicon span:nth-child(2){
    transform: scale(.1);
    background-color: #ffffff;
  
}
.button a:hover .menuicon span:nth-child(3), .button a.btn-close .menuicon span:nth-child(3){
    transform: rotate(-45deg);
    background-color: #ffffff;
    top: 6px;
}


/*home about part*/
.products{
    height: 100%;
    background-image: url("../image/banner-new-11.jpg");
    background-color: #0f297d;
    background-size: cover;
    padding: 170px 0px 75px;
}

.products p{
    text-align: center;
    line-height: 30px;
    padding: 15px 25px 50px;
    font-size: 19px;
}
.part-3 p:first-child{
    padding: 15px 25px 25px;
}
a:hover.part-1, a:hover.part-2,  a:hover.part-3 {
    /* box-shadow: 0px 0px 5px 5px #19191926; */
    color: #fff;
    cursor: pointer;
    transform: scale(1.1);
}

.part-1, .part-2, .part-3{
    color: #fff;
    text-align: center;
    top: 15%;
    vertical-align: 15px; 
    padding: 50px 20px;
    display: block;
    text-shadow: 1px 1px 1px #0000006e; 
    transition: transform .2s;
}
.part-1 h3, .part-2 h3, .part-3 h3{
    font-size: 35px;
}
.part-1 img, .part-2 img{
    width: 75px;
    margin-bottom: 20px;
}
.products .col-lg-4:nth-child(2), .products .col-lg-4:nth-child(1){
    border-right: 1px solid #ffffff59;
}

/*  our sample */
.our-sample{
    /* background-image: url("../image/banner-5.JPG"); */
    background-color: #fff;
    background-size: cover;
    padding: 125px 0px;
}
.our-sample h3{
    color: #000;
    font-size: 50px;
    text-align: center;
    margin-bottom: 75px;
    text-shadow: 1px 1px 1px #9c9c9c;
}
.our-sample .highlight_link {
    width: 100%;
    /* max-width: 850px; */
    margin: 0 auto;
}
.our-sample .highlight_link li {
    float: left;
    width: 33.33333333333%;
    position: relative;
    padding: 0px 7px;
    text-align: center;
}
.our-sample .highlight_link li strong:after {
    content: '';
    width: 50px;
    height: 2px;
    background-color: #3e3e3e;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
/* .our-sample .highlight_link li:nth-child(1)>a{
    background-image: url(../image/quality-image.jpg);
    background-color: #3a0256;
}
.our-sample .highlight_link li:nth-child(2)>a{
    background-image: url(../image/service-image.jpg);
    background-color: #3a0256;
}
.our-sample .highlight_link li:nth-child(3)>a{
    background-image: url(../image/reliability-image.jpg);
    background-color: #3a0256;
} */
.our-sample .highlight_link li>a {
    height: auto;
    padding: 50px 30px 50px;
    display: block;
}
.our-sample .highlight_link li>a:hover {
    box-shadow: 0px 0px 10px 5px #8888885e;
    border: 2px solid #2196F3;
}
.our-sample .highlight_link li strong {
    display: block;
    font-size: 25px;
    font-weight: 700;
    color: #000;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 15px;
}
.our-sample .highlight_link li>a img {
    margin-bottom: 30px;
    margin-top: 10px;
}
.our-sample .highlight_link li span {
    display: block;
    font-size: 16px;
    color: #777;
    line-height: 30px;
    font-weight: 500;
}
.our-sample .highlight_link li strong br {
    display: none;
}

/* main footer */
.main-footer{
    background-color: #0b0f23;
}
.main-footer .sitemap {
    padding: 55px 0 25px;
    text-align: left;
    color: #FFF;
}
.main-footer .sitemap strong {
    text-transform: uppercase;
    font-size: 20px;
    display: block;
    position: relative;
    font-weight: 300;
    padding-bottom: 10px;
}
.main-footer .sitemap strong a {
    font-size: 14px;
    line-height: 22px;
    color: #FFF;
}
.main-footer .sitemap ul {
    margin-bottom: 20px;
}
.main-footer .sitemap ul li {
    position: relative;
    padding-left: 10px;
    margin-bottom: 2px;
}
.main-footer .sitemap a {
    color: #bcbec0;
    font-size: 17px;
    line-height: 30px;
}
.main-footer .sitemap a:hover{
    color: #2196F3 !important;
}
.sitemap p {
    font-size: 15px;
    line-height: 22px;
    color: #bbb;
}
.main-footer .sitemap ul li:hover:after {
    background-color: #2196F3;
}
.main-footer .sitemap li:hover a {
    color: #2196F3;
    margin-left: 15px;
    -webkit-transition: all ease-in .3s;
    transition: all ease-in .1s;
}
.main-footer .sitemap ul li:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 4px;
    margin-top: 10px;
    background: #d8dbdc;
}
.main-footer .footer {
    padding: 15px 30px 15px;
    text-align: center;
    margin: 0 auto;
    display: block;
    background-color: #080a17;
    vertical-align: bottom;
}
.main-footer .footer a {
    color: #FFF;
    padding: 0 13px 0 10px;
    position: relative;
}
.main-footer .footer a, .main-footer  .footer strong {
    display: inline-block;
    font-size: 14px;
}
.main-footer .footer strong {
    color: #bcbec0;
    padding-top: 0;
}   
.main-footer .footer a.text-link:after {
    content: '|';
    position: absolute;
    right: 0;
    top: 0;
}
.main-footer .social-media a:hover, 
.main-footer .social-media a:active{
    color: #05386b;
    font-size: 20px;
    line-height: 22px;
}
.main-footer .social-media .fa{
    margin-right: 15px;
    width: 40px;
    height: 40px;
    background: #2c3b42a6;
    padding: 11px 13px;
    border-radius: 30px;
    font-size: 17px;
    margin-top: 15px;
}
.main-footer.fp-auto-height{
    height: auto !important;
}
.main-footer .fp-tableCell{
    height: auto !important;
}



/* About | Our Milestons */

.main-timeline{
    padding: 100px 0px;
    border-top: 2px solid #fff;
    background-color: #eaeaea;
    background: url(../image/timeline-bg-1.jpg) center fixed;
}
/* .main-timeline h1 {
    letter-spacing: 1.5px;
    margin-bottom: 60px;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 500;
    color: #05386b;
} */
/* Timeline */

.timeline {
    position: relative;
}
.timeline::before {
    content: '';
    background: #C5CAE9;
    width: 5px;
    height: 95%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.timeline .timeline-item {
    width: 100%;
    margin-bottom: 70px;
}
.timeline .timeline-item:nth-child(even) .timeline-content {
    float: right;
    padding: 40px 30px 10px 30px;
}
.timeline .timeline-item:nth-child(even) .timeline-content .date {
    right: auto;
    left: 0;
}
.timeline .timeline-item:nth-child(even) .timeline-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #f5f5f5 transparent transparent;
}
.timeline .timeline-item::after {
    content: '';
    display: block;
    clear: both;
}
.timeline .timeline-content {
    position: relative;
    width: 45%;
    padding: 10px 30px;
    border-radius: 4px;
    background: #f5f5f5;
    box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
}
.timeline .timeline-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    right: -15px;
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent #f5f5f5;
}
.timeline .timeline-img {
    width: 30px;
    height: 30px;
    background: #3f51b5;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-top: 25px;
    margin-left: -15px;
}
.timeline .timeline-card {
    padding: 0 !important;
}
.timeline .timeline-card p {
    padding: 0 20px;
}
.timeline .timeline-card a {
    margin-left: 20px;
}
.timeline .timeline-item:nth-child(2) .timeline-img-header {
    background: url(../image/timeline-bg.jpg);
    background-size: cover;
}
.timeline .timeline-item:nth-child(5) .timeline-img-header {
    background: url(../image/timeline-bg.jpg);
    background-size: cover;
}
.timeline .timeline-item:nth-child(6) .timeline-img-header {
    background: url(../image/timeline-bg.jpg);
    background-size: cover;
}
.timeline .timeline-item:nth-child(8) .timeline-img-header {
    background: url(../image/timeline-bg.jpg);
    background-size: cover;
}
.timeline .timeline-item:nth-child(10) .timeline-img-header {
    background: url(../image/timeline-bg.jpg);
    background-size: cover;
}
.timeline .timeline-item:nth-child(11) .timeline-img-header {
    background: url(../image/timeline-bg.jpg);
    background-size: cover;
}
.timeline .timeline-img-header {
    height: 200px;
    position: relative;
    margin-bottom: 20px;
}
.timeline .timeline-img-header h2 {
    color: #FFFFFF;
    position: absolute;
    bottom: 5px;
    left: 20px;
}
  
.timeline blockquote {
    margin-top: 30px;
    color: #757575;
    border-left-color: #3f51b5;
    padding: 0 20px;
}
  
.timeline .date {
    background: #3f51b5;
    display: inline-block;
    color: #FFFFFF;
    padding: 5px 5px;
    position: absolute;
    top: 0;
    right: 0;
}
  
@media screen and (max-width: 768px) {
    .timeline .timeline::before {
      left: 50px;
    }
    .timeline .timeline-img {
       left: 50px;
    }
    .timeline .timeline-content {
       max-width: 100%;
       width: auto;
       margin-left: 70px;
    }
    .timeline .timeline-item:nth-child(even) .timeline-content {
       float: none;
    }
    .timeline .timeline-item:nth-child(odd) .timeline-content::after {
        content: '';
        position: absolute;
        border-style: solid;
        width: 0;
        height: 0;
        top: 30px;
        left: -15px;
        border-width: 10px 15px 10px 0;
        border-color: transparent #f5f5f5 transparent transparent;
    }
}

/* testimonial */

#test-section {
    display: block;
    padding: 75px 0px;
    background-color: #eee;
}
.test-det h2{
    font-size: 35px;
    color: #0a0a0a;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 60px;
    text-align: center;
}
.testimonial{
    margin: 0px 20px 40px;
}
.testimonial .testimonial-content{
    padding: 35px 25px 35px 50px;
    margin-bottom: 35px;
    background: #fff;
    border: 1px solid #f0f0f0;
    position: relative;
}
.testimonial .testimonial-content:after{
    content: "";
    display: 
}
.testimonial .testimonial-content:after{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #0f7ddf;
    position: absolute;
    bottom: -10px;
    left: 22px;
    transform: rotate(45deg);
}
.testimonial-content .testimonial-icon{
    width: 50px;
    height: 45px;
    background: #0f7ddf;
    text-align: center;
    font-size: 22px;
    color: #fff;
    line-height: 42px;
    position: absolute;
    top: 37px;
    left: -19px;
}
.testimonial-content .testimonial-icon:before{
    content: "";
    border-bottom: 16px solid #0f7ddf;
    border-left: 18px solid transparent;
    position: absolute;
    top: -16px;
    left: 1px;
}
.testimonial .description{
    font-size: 15px;
    font-style: italic;
    color: #8a8a8a;
    line-height: 23px;
    margin: 0;
}
.testimonial .title{
    display: block;
    font-size: 18px;
    font-weight: 700;
    color: #525252;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin: 0 0 5px 0;
}
.testimonial .post{
    display: block;
    font-size: 14px;
    color: #aaaaaa;
}
.owl-theme .owl-controls{
    margin-top: 20px;
}
.owl-theme .owl-controls .owl-page span{
    background: #ccc;
    opacity: 1;
    transition: all 0.4s ease 0s;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
    background: #05386b;
}

/* About | Vission Mission */
.vm-section {
    padding: 75px 0px 35px;
    color: #000;
    font-family: 'Ubuntu', sans-serif ;
}
/* .vm-section .col-lg-6:nth-child(1) .vm-part{
    background: url("../image/vision-bg-new.jpg") center;
    color: #020202;
    height: 600px;
}
.vm-section .col-lg-6:nth-child(2) .vm-part{
    background: url("../image/mission-bg-new.jpg") center;
    color: #020202;
    height: 600px;
} */
.vm-section .col-lg-12:nth-child(3) .vm-part{
    text-align: center;
    margin-bottom: 80px;
    /* border: 2px solid #e4e4e4; */
    padding: 50px;
}
.value-main-part{
    background: #07254f;
    padding: 55px 0px 15px;
    font-family: 'Ubuntu', sans-serif ;
}
.value-main-part .vm-part{
    border-bottom: 0px solid #efefef;
    padding-bottom: 0px;
}
.value-main-part h3{ 
    text-align: center;
    color: #fff;
}
.value-main-part .vm-part .row .col-lg-4:nth-child(4) .value-part,
.value-main-part .vm-part .row .col-lg-4:nth-child(5) .value-part,
.value-main-part .vm-part .row .col-lg-4:nth-child(6) .value-part{
    height: 290px;
}
.vm-part {
    padding: 10px;
    text-align: left;
    margin-bottom: 50px;
}
.vm-part .col-lg-6:nth-child(2) i, .vm-part .col-lg-6 i.fa-bullseye{
    font-size: 55px;
}
.vm-part .col-lg-6 img{
    width: 90%;
    border: 7px solid #eaeaea;
}
.vm-part h3{
    font-size: 35px;
    font-weight: 300;
    margin-bottom: 30px;
}
.value-main-part .vm-part p{
    font-size: 16px;
    line-height: 30px;
    text-align: justify;
    color: #5376a7;
}
.vm-part p{
    font-size: 16px;
    line-height: 30px;
    text-align: justify;
    /* color: #080a17; */
}
.vm-part hr{
    width: 75px;
    height: 2px;
    background: #2c3697;
    margin: 15px auto 55px;
    border-top: 1px solid #2c3697;
}
.vm-section .col-lg-6:nth-child(2) .vm-part p{
    text-align: left;
}
.value-part{
    margin-bottom: 45px;
    border: 3px solid #25508c;
    padding: 20px 20px;
    transition: all 0.2s ease;
}
.value-part:hover {
    border : 3px solid #ddd;
}
.value-part:hover p{
    color : #ddd;
}
.value-part img{
    width: 75px;
    position: absolute;
    display: block;
    background: #07254f;
    top: -25px;
    padding: 0px 10px;
}
.value-part strong{
    display: block;
    margin: 25px 0px 5px;
    font-size: 17px;
    color: #e6e6e6;
}

/* About | our heritage */

.header-section {
    margin-top: 70px;
    padding: 75px;
    background-color: #2196F3;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}
.company-bg{
    background: url(../image/about-navigation-bg.jpg) center;
}
.foodexport-bg{
    background: url(../image/foodexport-navigation-bg.jpg) center;
}
.solar-bg{
    background: url(../image/solar-navigation-bg.jpg) center;
}
.contact-bg{
    background: url(../image/contact-navigation-bg.jpg) center;
}
.agro-bg{
    background: url(../image/navigation-bg.jpg) center;
}
.header-section h3{
    font-size: 35px;
    margin-top: 23px;
}
.header-section p{
    margin: 21px 0px;
    word-spacing: 3px;
    font-size: 15px;
    font-weight: 500;
}
.header-section p a{
    color: #2196F3;
}
.main-part{
    display: block;
    background: #fff !important;
    border-bottom: 1px Solid #e4e4e4;
}
.main-part h3{
    font-size: 17px;
    display: inline-block;
    float: left;
    margin-top: 25px;
    border-right: 2px solid #d8d8d8;
    padding-right: 40px;
}
.main-part ul{
    float: left;
    margin-bottom: 0px;
}
.main-part ul li{
    float: left;
    padding: 0px 15px;
    margin: 25px 0px;
    border-right: 2px solid #d8d8d8;
    text-transform: uppercase;
    font-weight: 500;
}
.main-part .min-hide {
    position: fixed;
    display: block;
    z-index: 3;
    background: #ffff;
    top: 75px;
    width: 100%;
    padding: 0px 335px;
}
.main-part .min-show{
    float: none;
    position: absolute;
    left: 50%;
    transform: translate(-40%, -10%);
}
.main-part ul li a:hover, 
.main-part ul li a.active{
    color: #fff;
    background-color: #3F51B5;
    border-radius: 20px;
}
.main-part ul li a{
    padding: 8px 10px;
    letter-spacing: .5px;
    font-size: 13px;
    transition: all 0.2s ease;
}
.main-part ul li:last-child{
    border-right: 0px solid #444;
}
.oh-section {
    padding: 75px 0px 0px;
    color: #252525;
    background: url(../image/about-banner-1.jpg);
    background-color: #fefefe;
    background-repeat: no-repeat;
}    
.oh-section .col-lg-12{
    padding-right: 0px;
}
.oh-section h1 {
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
}
.oh-section h4{
    font-size: 25px;
    margin-bottom: 30px;
    font-weight: 400;
}
.oh-section p {
    font-size: 17px;
    line-height: 30px;
    color: #212121;
    margin-bottom: 15px;
    text-align: justify;
}
.oh-section img{
    width: 100%;

}
.oh-section-1 {
    background: #edeef0;
    color: #3F51B5;
    text-align: center;
}
.oh-section-1 .container{
    padding: 0px;
}
.oh-section-1 .md-image {
    padding: 35px 0px 75px;
    color: #3F51B5;
}
.oh-section-1 .md-image img{
    width: 45%;
    border: 5px solid #fff;
    border-radius: 100%;
    box-shadow: 0px 0px 7px 5px #d2d2d2d1;
    background: #fff;
    margin-bottom: 25px;
    margin-top: 20px;
}
.oh-section-1 .table-responsive .table  td{
    vertical-align: middle;
}
.oh-section-1>.container>h2 {
    font-size: 30px;
    margin: 75px 50px 0px;
    font-weight: 500;
    letter-spacing: 1px;
}
.rich-map{
    background: #2196f378;
    color: #2f2f2f;
    text-align: left;
    padding: 75px 0px;
    background-image: url(../image/bg-6.jpg);
    background-repeat: repeat-x;
    background-position: bottom;
}
.rich-map h2{
    margin-top: 45px;
}
.rich-map p{
    font-size: 17px;
    line-height: 30px;
    color: #131313;
    margin-top: 15px;
}
.rich-map img {
    width: 80%;
}
.about-content-sect-2{
    /* background-image: url(../image/count-bg.jpg); */
    padding: 65px 0px 45px;
    display: block;
    position: relative;
    text-align: center;
    background-color: #fefefe;
    background-repeat: no-repeat;
}
.about-content-sect-2 h2{
    font-size: 30px;
}
.about-content-sect-2 hr, .oh-section-1 hr, .oh-section hr, .rich-map hr{
    border: 1px solid #fafafa;
    width: 100px;
}
.about-content-sect-2 .count-1 .circle-1{
    border: 14px solid #8fcf44;
    color: #fff;
    background-color: #95d64a;
}
.about-content-sect-2 .count-2 .circle-1{
    border: 14px solid #ff9800;
    color: #fff;
    background-color: #f5a12c;
}
.about-content-sect-2 .circle-1 {
    padding: 35px 15px;
    border-radius: 100%;
    height: 210px;
    width: 80%;
    margin-left: 25px;
}
.about-content-sect-2 .row{
    margin-top: 25px;
    margin-bottom: 55px;
}
.about-content-sect-2 .circle-1 hr{
    margin: 10px auto 15px;
}
.about-content-sect-2 .count-1 .circle-1:after {
    content: "";
    display: block;
    position: relative;
    right: -170px;
    top: -78px;
    width: 100px;
}
.about-content-sect-2 .count-2 .circle-1:after {
    content: "";
    display: block;
    position: relative;
    right: -170px;
    top: -55px;
    width: 100px;
}
.about-content-sect-2 .count-1 .circle-1:after{
    border: 8px solid #8fcf44;
    background: #8fcf44;
}
.about-content-sect-2 .count-2 .circle-1:after{
    border: 8px solid #ff9800;
    background: #ff9800;
}
.about-content-sect-2 .col-lg-3:nth-child(2) .circle-1::after {
    top: -55px;
} 
.about-content-sect-2 .count-1 .col-lg-3:nth-child(3) .circle-1::after {
    top: -55px;
}
.about-content-sect-2 .count-2 .col-lg-3:nth-child(3) .circle-1::after {
    top: -55px;
}
.about-content-sect-2 .col-lg-3:last-child .circle-1::after{
    display: none;
}
.about-content-sect-2 p:first-child{
    font-size: 33px;
}
.about-content-sect-2 p:last-child{
    font-size: 15px;
    font-weight: 600;
}
.about-video {
    padding: 75px 0px;
    background-color: #edeef0;
}
.about-video .container-fluid{
    margin: 0px 50px;
}
.about-video h3 {
    font-size: 30px;
    margin: 0px;
    margin-bottom: 40px;
    text-transform: uppercase;
}   
.about-video iframe{
    box-shadow: 0px 0px 10px 5px #d6d6d6;
    background: #fff;
    padding: 15px;
    margin-top: 15px;
}
/* certification page */
.certification-section {
    padding: 70px 0px;
    background: #efefef;
}
.certification-section .certify-img{
    background: #fff;
    box-shadow: 7px 7px 7px 3px #0000001c;
    display: inline-block;
    padding: 20px;
    margin: 25px 15px;
    border: 1px solid #f3f3f3;
    height: 355px;
    transition: all 0.2s ease;
}
.certification-section a:hover{
    box-shadow: 1px 1px 1px 1px #00000038;
    border: 2px solid #2196F3;
}
.certification-section a:hover h3{
    color: #2196F3 !important;
}
.certification-section a img{
    width: 100%;
}
.certification-section .certify-img h3{
    border-top: 2px solid #e6e6e6;
    padding-top: 13px;
    font-size: 17px;
    color: #0f297d;
    line-height: 25px;
    text-align: center;
}

/* product Pages */
.main-product {
    margin: 75px 25px;
}
.main-product .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fff;
    cursor: default;
    background-color: #2c3697;
    border: 2px solid #e8e8e8;
    border-bottom-color: transparent;
    border-radius: 1px 1px 0 0;
}
.main-product .nav-tabs>li>a {
    color: #444;
    padding: 8px 25px;
}
.main-product a:focus, a:hover {
    text-decoration: none;
    color: #2c3697;
}
.main-product .nav-tabs {
    border-bottom: 2px solid #eaeaea;
    margin: 0px 25px;
}
.product-list {
    background-color: #fff;
    margin: 25px 0px;
    display: block;
    color: #444;
    transition: all 0.2s ease;
    text-align: center;
    /* height: 275px; */
}
a:hover.product-list img{
    transform: scale(1.05);
}
.product-list img {
    width: 80%;
    border-radius: 5px;
    box-shadow: 0px 15px 25px -10px #35353570;
    margin-bottom: 15px;
}
.product-category>p{
    font-size: 23px;
    margin: 0px 25px 15px;
} 
.product-header {
    background: #f5f5f5;
    padding: 6px 15px;
    color: #323232;
    font-size: 23px;
    font-weight: 500;
}
.product-list h3 {
    font-size: 16px;
    padding: 15px 10px;
    margin: 0px;
    line-height: 20px;
}
/* our partner */
.ourpartners{
    text-align: center;
    margin:75px 0px ;
}
.ourpartners p{
    font-size: 17px;
    margin-bottom: 30px;
}
.Plogos{
    padding: 15px;
    background-color: #fff;
    box-shadow: 3px 3px 2px 0px #35353533;
    border: 2px solid #efefef;
    margin-bottom: 30px;
    filter: grayscale(100%);
    transition: all 0.2s ease;
}
.Plogos:hover{
    filter: grayscale(0%); 
    box-shadow: 7px 7px 5px 2px #35353533;
    border: 2px solid #2196F3;
}
.Plogos img{
    width:100%;
}


/* contact */

/* contact page 2 */
.company-address-1{
    background: url(../image/contact-bg.jpg) center fixed;
    font-family: 'Ubuntu', sans-serif ;
}
.contact-info{
    margin: 75px 0px 10px;
    display: block;
    background: #fff;
    box-shadow: 0px 0px 10px 0px #e5e5e5;
}
.contact-info p{
    text-align: center;
    font-size: 25px;
    padding: 35px;
    color: #6a6a6a;
}
.contact-info .col-lg-6{
    border: 1px solid #eee;
}
.contact-info p i{
    margin-right: 15px;
}
/* Tabs panel */
.tabbable-panel {
    border: 0px solid #eee;
    padding: 0px;
    margin: 75px 0px 75px;
    background: #fff0;
    box-shadow: 0px 0px 10px 0px #e5e5e5;
}
.tabbable-panel .nav-tabs {
    border: 1px solid #d4d4d4;
    background: #fff;
}
  
  /* Default mode */
.tab-pane .address address i, .tab-pane .address-content p i {
    font-size: 17px;
    margin-right: 15px;
}
.tab-pane .address .col-lg-8{
    padding: 0px;
}
.tab-pane .gmap{
      height: 335px;
}
.tab-pane .address-content {
    margin: 20px 0px 0px;
    font-size: 15px;
    color: #82c8ff;
    padding: 0px 25px;
    letter-spacing: 1px;
}
.tab-pane .address-content a{
    color: #2196F3;
}
.tab-pane .address-content hr{
    border-top: 2px solid #3b4d65;
}
.tab-pane .address-content address {
    margin-bottom: 20px;
    font-style: normal;
    line-height: 2;
}
.tabbable-line > .nav-tabs > li > a {
    color: #737373;
    padding: 20px 35px;
    margin-right: 0px;
    border-radius: 0px;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
    border-bottom: 4px solid #8ecdff;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
    border: 0;
    background: none !important;
    color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
    color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
    margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
    border-bottom: 4px solid #2c3697;
    position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
    border: 0;
    color: #fff !important;
    background: #2c3697 !important;
}
.tabbable-line > .nav-tabs > li.active > a > i {
    color: #404040;
}
.tabbable-line > .tab-content {
    margin-top: 25px;
    background-color: #2d3c4f;
    border: 0;
    border-top: 1px solid #eee;
    padding: 0px 0px;
}
.portlet .tabbable-line > .tab-content {
    padding-bottom: 0;
}



.company-address{
    margin: 75px 0px;
    text-align: center;
}
.location-item{
    padding: 15px;
    background-color: #fff;
    margin-bottom: 25px;
    box-shadow: 7px 7px 5px 2px #35353533;
    border: 2px solid #efefef;
    height:450px;
}
.location-item:hover {
    box-shadow: 1px 1px 1px 1px #dadada;
    border: 2px solid #2196F3;
}
.heading{
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 700;
}    
.address {
    /* margin-bottom: 30px; */
    display: block;
    text-align: left;
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;
    color: #6a6a6a;
}
.gmap{
    height: 170px;
}
.contact-map{
    height: 400px;
}
.address li {
    margin-bottom: 15px;

}
.address .col-lg-12:nth-child(2) i{
    width: 3%;
    display: block;
    float: left;
}
.address .col-lg-12:nth-child(2) span{
    width: 93%;
    display: block;
    float: left;
}
.location-item .address i {
    font-size: 20px;
    color: #2196F3;
    margin-right: 15px;
}
.location-item hr{
    border-bottom: 2px solid #05386b;
    width: 75px;
}
.address li i {
    float: left;
    margin-left: -24px;
    color: #05386b;
}
.cont-address{
    margin: 75px 0px;
}

.cont-address .address-sect i{
    font-size: 35px;
}
.cont-address .address-sect{
    padding: 30px;
    border-right: 2px solid #444;
    text-align: center;
    box-shadow: 3px 3px 2px 0px #35353533;
    height: 250px;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-align: center;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    transition: all .5s ease;
    display: flex;
}
.cont-address .address-sect address{
    font-size: 20px;
    line-height: 33px;
}
.cont-address .address-sect:hover {
    box-shadow: 10px 10px 5px 0px #c3c3c3;
    color: #ffffff;
    background-color: #2196F3;
}
.form-enquiry{
    padding: 75px 0px;
    background-color: #2196F3;
    background-image: url("../image/contact-form-white-background1.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
.contact-form{
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 25px;
    box-shadow: 0px 0px 5px 0px #0000002e;
}
.contact-form h2{
    display: block;
    font-size: 25px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0px;
}
.contact-form .wrap-input {
    width: 100%;
    position: relative;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 0px;
    margin-bottom: 27px;
}
.validate-input {
    position: relative;
}
.label-input {
    font-size: 15px;
    color: #3F51B5;
    line-height: 1.5;
    padding-left: 5px;
    font-weight: 500;
}
input.input {
    height: 35px;
}
.input {
    display: block;
    width: 100%;
    background: transparent;
    font-size: 18px;
    color: #333333;
    line-height: 0;
    padding: 0 5px;
}
input {
    outline: none;
    border: none;
}
.focus-input {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}
textarea:focus, input:focus {
    border-color: transparent !important;
}
textarea.input {
    min-height: 110px;
    padding-top: 9px;
    padding-bottom: 13px;
}
textarea {
    outline: none;
    border: none;
}
.alert-validate::after {
    content: "\f06a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 16px;
    top: 58%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 8px;
}
.focus-input100::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    background: #7f7f7f;
}
.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #c80000;
    border-radius: 2px;
    padding: 4px 25px 4px 10px;
    top: 58%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 2px;
    pointer-events: none;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}
.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}
.focus-input::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    background: #2196F3;
}
.focus-input {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}
  
.input:focus + .focus-input::before {
    width: 100%;
}
  
@media (max-width: 992px) {
    .alert-validate::before {
      visibility: visible;
      opacity: 1;
    }
}
input::-webkit-input-placeholder { color: #adadad;}
input:-moz-placeholder { color: #adadad;}
input::-moz-placeholder { color: #adadad;}
input:-ms-input-placeholder { color: #adadad;}
  
textarea::-webkit-input-placeholder { color: #adadad;}
textarea:-moz-placeholder { color: #adadad;}
textarea::-moz-placeholder { color: #adadad;}
textarea:-ms-input-placeholder { color: #adadad;}

.btn-primary {
    color: #fff;
    background-color: #05386b;
    border-color: #05386b;
}
.btn {
    padding: 10px 25px;
    border-radius: 1px;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
}
.btn-primary:active, 
.btn-primary:focus, 
.btn-primary:hover  {
    color: #fff;
    background-color: #2196F3 !important;
    border-color: #2196F3 !important;
    box-shadow: 5px 5px 3px 2px #cfcfcf;
}

/* contact-find dealer */
.find-dealer-section-1{
    margin: 75px 0px;
}
.find-dealer-section-1 h2{
    margin-bottom: 35px;
}
.find-dealer-section-1 hr{
    margin-top: 45px;
}
.find-dealer-section-1 p{
    font-size: 17px;
    line-height: 31px;
}
.find-dealer-section-1 .dealer-form{
    padding: 45px 0px;
}
.find-dealer-section-1 .dealer-form label{
    font-size: 17px;
}
.find-dealer-section-1 .dealer-form .form-control{
    height: 45px;
    font-size: 17px;
    border: 1px solid #ececec;
    border-radius: 0px;
}
.find-dealer-section-1 .dealer-form .btn {
    padding: 8px 25px;
    border-radius: 1px;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 25px;
}
/* product  model */

.product-box .modal-title h4{
    display: inline-block;
    font-size: 25px;
    font-weight: 400;
}
.product-box .modal-lg {
    width: 80%;
}
.product-box .modal-content {
    border: 2px solid #c1c1c1;
    border-radius: 1px;
}
.product-box .carousel-control.right, .product-box .carousel-control.left{
    background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(255, 255, 255, 0) 100%);
}
.product-box .modal-title{
    display: inline-block;
}
.product-box button.close {
    width: 40px;
    height: 40px;
    background: #ddd;
    padding: 2px;
    font-size: 20px;
}
#exTab1 .tab-content {
    color: #484848;
    background-color: #f7f7f7;
    padding: 5px 15px;
    font-weight: 500;
}
#exTab1{
    font-size: 17px;
    line-height: 30px;
}
#exTab1 .nav-pills > li > a {
    border-radius: 0;
}
#exTab1 .tab-pane p i{
    margin-right: 15px;
}
#exTab1 .nav-pills>li.active>a, 
#exTab1 .nav-pills>li.active>a:focus, 
#exTab1 .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #2196F3;
}


/* prduct-organic */
.product-box-extra-1{
    margin-bottom: 25px;
    display: inline-block;
    border-bottom: 2px solid #f1f0f0;
}
.product-box-extra-1 .carousel-control.right, .product-box-extra-1 .carousel-control.left{
    background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(255, 255, 255, 0) 100%);
}

/* back to go top */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 17px;
    border: none;
    outline: none;
    background-color: #c9c9c96e;
    color: #212121;
    cursor: pointer;
    padding: 5px 10px 7px;
    border-radius: 0px;
    border: 2px solid #212121;
    opacity: .3;
} 
#myBtn:hover {
    background-color: #2c3697;
    color: #fff;
    opacity: 1;
}

/* swp-section */
.swp-section .row.swp-inner-content>.col-lg-12:first-child{
    text-align: center;
    padding: 75px 50px;
}
.swp-section .row.swp-inner-content>.col-lg-12:nth-child(3){
    padding: 0px 50px 35px; 
}
.swp-section .row.swp-inner-content>.col-lg-12:first-child h2, 
.swp-section .row.swp-inner-content>.col-lg-12:nth-child(3) h2{
    margin-bottom: 35px;
    text-align: center;
}
.swp-section .row.swp-inner-content>.col-lg-12:first-child p, 
.swp-section .row.swp-inner-content>.col-lg-12:nth-child(2) p,
.solar-main-content .col-lg-12 p, 
.swp-section .row.swp-inner-content>.col-lg-12:nth-child(3) p{
    line-height: 30px;
    margin-bottom: 15px;
}
.swp-section .row.swp-inner-content>.col-lg-12:nth-child(2) h3, .solar-main-content .col-lg-12 h3{
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 70px;
    padding: 19px 0px;
    border-right: 1px solid #c7cffb;
}
.swp-section .row.swp-inner-content>.col-lg-12:first-child img{
    padding: 10px;
    margin: 25px auto;
    border-radius: 30px;
    background: #f9f9f9;
}
.swp-section .row.swp-inner-content>.col-lg-12:nth-child(2) .row .col-lg-6:nth-child(2), 
.solar-main-content .col-lg-12 .row .col-lg-6:nth-child(2){
    padding-left: 45px;
}
.swp-section .row.swp-inner-content>.col-lg-12:nth-child(2),
.solar-main-content .col-lg-12{
    padding: 35px 45px;
    background: #3F51B5;
    margin-bottom: 75px;
    color: #fff;
}

.swp-section .row .col-lg-12:nth-child(3) .row .col-lg-4 h3{
    margin: 0px auto 25px;
} 
.swp-section .row .table>thead>tr>th{
        border-bottom: 0px solid #ddd;
}
.swp-section .row .table>tbody>tr>td{
    border-top: 0px;
}
.swp-section .row .table i.fa{
    color: #8BC34A;
}
.swp-section .row .col-lg-12:nth-child(3) .row .col-lg-4 img{
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 45px;
}
.swp-section img {
    width:100%;
}
.sms-section1{
    padding: 75px 0px;
    text-align: center;
    background: #f9f9f9;
}
.sms-section1 h3{
    margin: 25px 45px 45px;
}
.sms-section1 p{
    line-height: 30px;
    margin: 35px 65px 15px;
}
.sms-section2{
    padding: 75px 0px;
}
.sms-section2 img{
    width: 70%;
    margin: 0px auto 35px;
    display: block;
    border-radius: 45px;
    z-index: 1;
    position: relative;
}
.sms-section2 .col-lg-7{
    padding: 59px 35px;
    background-color: #2196F3;
    color: #fff;
}
.sms-section2 .col-lg-7:before {
    content: "";
    background: #2196F3;
    position: absolute;
    width: 20%;
    display: block;
    left: -130px;
    min-height: 100%;
    top: 0px;
    z-index: 0;
}
.sms-section2 .col-lg-7 h3{
    margin-bottom: 25px;
}
.sms-section2 .col-lg-12 h3{
    margin: 45px 0px 25px;
}
.sms-section2 .col-lg-7 p, 
.sms-section2 .col-lg-12 p{
    line-height: 25px;
}
.srs-section .row.swp-inner-content>.col-lg-12:nth-child(2) h3{
    font-size: 25px;
}
.srs-section .row.swp-inner-content>.col-lg-12:nth-child(2) .row .col-lg-6:nth-child(2) {
    padding: 30px 45px 20px;
}
.sgms-section .row>.col-lg-12>h3{
    text-align: center;
}
.sgms-section img {
    position: relative;
    margin: 15px auto 25px;
    display: block;
    width: 60%;
}
.sgms-section .row .col-lg-12:nth-child(2){
    margin-bottom: 50px;
}
.sgms-section .row .col-lg-12 .row .col-lg-5 img{
    width: 70%;
    margin: 0px auto 35px;
    display: block;
    border-radius: 45px;
    z-index: 1;
    position: relative;
}
.sgms-section .row .col-lg-12 .row .col-lg-7{
    padding: 32px 35px;
    background-color: #2196F3;
    color: #fff;
}
.sgms-section .row .col-lg-12 .row .col-lg-7:before {
    content: "";
    background: #2196F3;
    position: absolute;
    width: 20%;
    display: block;
    left: -130px;
    min-height: 100%;
    top: 0px;
    z-index: 0;
}
.sgms-section .row .col-lg-12 .row .col-lg-7 h3{
    margin-bottom: 25px;
    line-height: 35px;
    margin-top: 10px;
}
.vm-part .col-lg-6{
    padding: 20px;
    height: 500px;
}
.vm-part .col-lg-6:first-child::before{
    content: '';
    background: url(../image/mission-bg-new.jpg);
    position: absolute;
    width: 93%;
    height: 92.4%;
    display: block;
    z-index: 1;
    border-radius: 20px;
}
.vm-part .col-lg-6:last-child::before{
    content: '';
    background: url(../image/vision-bg-new.jpg);
    position: absolute;
    width: 93%;
    height: 92.4%;
    display: block;
    z-index: 1;
    border-radius: 20px;
}
.vm-part .col-lg-6:first-child::after, 
.vm-part .col-lg-6:last-child::after {
    content: '';
    /* background-color: #3f51b5b3; */
    /* background: linear-gradient(45deg, #090979db 15%, #00d4ffe0 100%); */
    height: 92.3%;
    width: 93.2%;
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    /* opacity: .5; */
    z-index: 1;
    border-radius: 20px;
}
.vm-part .col-lg-6:first-child::after{
    background: linear-gradient(45deg, #090979db 10%, #00d4ffe0 85%);
}
.vm-part .col-lg-6:last-child::after {
    background: linear-gradient(135deg,   #00d4ffe0 15%,#090979db 100%);
}
.vm-part .col-lg-6 div{
    color: #ffffff;
    padding: 40px;
    z-index: 2;
    position: relative;
}
.sd-section{
    padding: 75px 45px;
    background-color: #2196F3;
    color: #fff;
    line-height: 30px;
    background-image: url(../image/Solar-Dried-Fruit.jpg);
}
.sd-section .sd-inner-content{
    padding: 25px;
    background-color: #2196f3c2;
    /* background-color: #ff9800a6; */
    border-radius: 20px;
}
.sd-section .sd-inner-content .col-lg-4 h3 {
    font-size: 65px;
    line-height: 100px;
}
.sd-section .sd-inner-content .col-lg-8 p{
    margin-bottom: 25px;
}
.sd-section-1 {
    margin: 75px auto;
}
.sd-section-1 .row .col-lg-12 .row .col-lg-5 img {
    width: 82.2%;
}
.sd-section-1 .row .col-lg-12 .row .col-lg-7 {
    padding: 33px 35px;
    background-color: #f9f9f9;
    color: #6b6b6b;
}
.sd-section-1 .row .col-lg-12 .row .col-lg-7:before {
    background: #f9f9f9;
}

/* Solar */
.solar-main-content, 
.organic-content{
    margin: 75px auto;
}
.organic-content{
    text-align: center;
}
.organic-content .about-video{
    background-color: #ffffff;
    text-align: center;
    padding: 15px 0px; 
}
.solar-main-content h2, 
.solar-main-content h3, 
.organic-content h2, 
.organic-content h3{
    text-align: center;
}
.solar-main-content .p-content, 
.organic-content .p-content{
    text-align: center;
    font-size: 17px;
    line-height: 35px;
    margin: 30px 55px;
}
.solar-main-content .img-thumbnail, 
.organic-content .img-thumbnail{
    margin-bottom: 25px;
}
.solar-main-content .thumbnail, 
.organic-content .thumbnail{
    text-align: center;
}
.solar-main-content .thumbnail .img-thumbnail, 
.organic-content .thumbnail .img-thumbnail{
    margin-bottom: 0px;
}
.solar-main-content .thumbnail:hover,
.organic-content .thumbnail:hover{
    box-shadow: 0px 0px 10px 5px #efefef;
}
.solar-main-content .thumbnail-content,
.organic-content .thumbnail-content{
    margin-top: 40px;
}    
@media (max-width: 799px){
.para-mobile {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #fff!important;
    background: #95d64a;
    z-index: 1000;
    text-align: center;
    display: block;
    padding: 10px;
    font-size: 25px;
    line-height: 50px;
    text-decoration: none !important;
}
.call {
    margin: 70px 0 0 0;
}
}
@media (min-width: 800px){
.call{
    display:none!important;
}
}